# dependencies
node_modules

# output
dist
**/*.tgz

# code coverage
coverage
**/*.lcov

# logs
logs
**/*.log
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment
.env

# caches
.eslintcache
.cache
**/*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
**/.DS_Store

# Prisma Generations and Migrations
backend/database/generated
backend/database/migrations

# Private Progress Generator
progress_gen
