@font-face {
	font-family: "DigitalDisco";
	src: url("/fonts/DigitalDisco.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "DigitalDisco";
	background-color: black;

	background-image: url("/images/checkers.png");
	background-repeat: infinite;
	animation: backdropillusion 8s infinite;
	animation-timing-function: linear;

	color: white;
}

@keyframes backdropillusion {
	to {
		background-position: top 118px left 118px;
	}
}

a {
	color: white;
}

nav {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.yellow {
	color: #fde541;
}

.centered {
	text-align: center;
}

.thick-strike {
	text-decoration: line-through;
	text-decoration-thickness: 3px;
}

.project {
	margin-top: 10px;

	margin-left: auto;
	margin-right: auto;

	background-color: rgba(65, 65, 65, 0.95);
	border-radius: 5px;
	padding: 15px;
	width: max-content;
	height: max-content;

	text-align: center;

	p {
		margin: 0;
	}
}

.socials {
	margin-top: 10px;
	font-size: 20px;

	div {
		margin-top: 5px;
	}

	a {
		color: #fde541;
	}
}
